<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="defaultTime">hh:mm a</entry>
<entry key="password">ed03d08a7acf210ddc17869f05aedb88</entry>
<entry key="isAppLoaded">true</entry>
<entry key="host">smtp.mailgun.org</entry>
<entry key="defaultDate">yyyy-MM-dd</entry>
<entry key="username">postmaster@sandbox724a2b1a33f547798d87fbb228859a98.mailgun.org</entry>
</properties>
