<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="defaultTime">hh:mm a</entry>
<entry key="lastDate">2018-09-06</entry>
<entry key="password"/>
<entry key="isAppLoaded">true</entry>
<entry key="host"/>
<entry key="dbFile">csr.db</entry>
<entry key="defaultDate">yyyy-MM-dd</entry>
<entry key="username"/>
</properties>
